/* ---------- RESET ---------- */
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
  background: #9a9aa0; /* grey side background */
}

body {
  margin: 0;
  padding: 0;
  padding-top: var(--header-height);
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
  background: transparent;
}

/* ---------- APP CONTAINER ---------- */
.app-shell {
  max-width: 560px;
  margin: 0 auto;
  min-height: 100vh;

  background: linear-gradient(
    180deg,
    #202020 0%,
    #161616 45%,
    #2f2a1b 100%
  );

  position: relative;
  overflow-x: hidden;
}
section {
  width: 90%;
  margin: .3rem auto 0 auto;
}
.home-slider {
  width: 100%;
  margin: 0 auto;
}
